{% load i18n static %}
<!-- Swiper -->
<div class="swiper swiper2">
  <div class="swiper-wrapper">
    {% for portofolio in portofolios %}
    <div class="swiper-slide" style="height: 550px; width: 280px">
<!--      <div class="card-image">-->
<!--        <figure class="image is-2by3">-->
          {% if portofolio.porto_picture %}
            <img src="{{ portofolio.porto_picture.url }}" class="thumbnail"/>
          {% endif %}
<!--        </figure>-->
<!--      </div>-->
    </div>
    {% endfor %}
  </div>
  <div class="swiper-pagination swiper-pagination2"></div>
</div>

<div class="buttons mt-3 is-centered">
    <a href="{% url 'portofolio:porto_list' %}" class="button is-danger">Lebih banyak portofolio</a>
</div>