{% extends "base.html" %}
{% load i18n static %}

{% block title %} Order | {% endblock %}

{% block isi %}
    <div class="container">
        <div class="box">
            <h1 class="title is-size-3-tablet is-size-4-mobile has-text-centered">Order</h1>

            {% if order %}
                <h2 class="title is-size-4-tablet is-size-5-mobile mt-3">Invoice #{{ order.id }}</h2>

                <p class="subtitle is-size-6-tablet is-size-7-mobile mt-3">
                    User : {{ order.user }}<br>
                    Lokasi : {{ order.place }}<br>
                    Nomor : {{ order.phone }}<br>
                    Payment ke: {{ order.payment }}<br>
                    Jumlah dibayarkan: Rp {{ order.paid|floatformat:"g" }}
                </p>

                <h2 class="title is-size-4-tablet is-size-5-mobile mt-3">Status</h2>

                {% if order.status == "menunggu pembayaran" %}
                    <ul class="step-wizard-list">
                        <li class="step-wizard-item current-item">
                            <span class="progress-count">1</span>
                            <span class="progress-label">Menunggu Pembayaran</span>
                        </li>
                        <li class="step-wizard-item">
                            <span class="progress-count">2</span>
                            <span class="progress-label">Menunggu Konfirmasi</span>
                        </li>
                        <li class="step-wizard-item">
                            <span class="progress-count">3</span>
                            <span class="progress-label">Terkonfirmasi</span>
                        </li>
                    </ul>
                {% elif order.status == "menunggu konfirmasi" %}
                    <ul class="step-wizard-list">
                        <li class="step-wizard-item">
                            <span class="progress-count">1</span>
                            <span class="progress-label">Menunggu Pembayaran</span>
                        </li>
                        <li class="step-wizard-item current-item">
                            <span class="progress-count">2</span>
                            <span class="progress-label">Menunggu Konfirmasi</span>
                        </li>
                        <li class="step-wizard-item">
                            <span class="progress-count">3</span>
                            <span class="progress-label">Terkonfirmasi</span>
                        </li>
                    </ul>
                {% else %}
                    <ul class="step-wizard-list">
                        <li class="step-wizard-item">
                            <span class="progress-count">1</span>
                            <span class="progress-label">Menunggu Pembayaran</span>
                        </li>
                        <li class="step-wizard-item">
                            <span class="progress-count">2</span>
                            <span class="progress-label">Menunggu Konfirmasi</span>
                        </li>
                        <li class="step-wizard-item current-item">
                            <span class="progress-count">3</span>
                            <span class="progress-label">Terkonfirmasi</span>
                        </li>
                    </ul>
                {% endif %}

                <h2 class="title is-size-4-tablet is-size-5-mobile mt-3">Products</h2>

                <table class="table is-size-5-desktop is-size-6-tablet is-size-7-mobile">
                    <thead class="">
                        <th>No</th>
                        <th>Produk</th>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                            <tr>
                                <td class="subtitle is-size-6-tablet is-size-7-mobile">{{ forloop.counter }}</td>
                                <td class="subtitle is-size-6-tablet is-size-7-mobile">{{ item.product }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <form action="{% url 'order:delete' order.id %}" method="post">
                    {% csrf_token %}
                    <input class="button is-small is-danger" type="submit" value="Hapus order">
                </form>

                {% include "order/order_update.html" %}


            {% else %}
                <div class="container has-text-centered">
                    <p class="has-text-danger">Order anda kosong!</p>
                    <br>
                    <button class="button is-danger">
                        <a href="/">Mulai order</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
