{% extends "base.html" %}
{% load i18n static %}

{% block title %} Order | {% endblock %}

{% block isi %}
    <div class="container">
        <div class="box">
            <h1 class="title is-size-3-tablet is-size-4-mobile has-text-centered">Order</h1>

            {% if order %}
                <h2 class="title is-size-4-tablet is-size-5-mobile mt-3">Invoice #{{ order.id }}</h2>

                <p class="subtitle is-size-6-tablet is-size-7-mobile mt-3">
                    User : {{ order.user }}<br>
                    Lokasi : {{ order.place }}<br>
                    Nomor : {{ order.phone }}
                </p>

                <h2 class="title is-size-4-tablet is-size-5-mobile mt-3">Products</h2>

                <table class="table is-size-5-desktop is-size-6-tablet is-size-7-mobile">
                    <thead class="has-background-light">
                        <th>No</th>
                        <th>Produk</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.product }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td>Total</td>
                                <td>Rp {{ order.paid|floatformat:"g" }}</td>
                                <td>{{ order.status }}</td>
                            </tr>
                    </tbody>
                </table>

                <form action="{% url 'order:delete' order.id %}" method="post">
                    {% csrf_token %}
                    <input class="button is-small is-danger" type="submit" value="Hapus order">
                </form>

                {% include "order/order_update.html" %}


            {% else %}
                <div class="container has-text-centered">
                    <p class="has-text-danger">Order anda kosong!</p>
                    <br>
                    <button class="button is-primary">
                        <a href="/">Mulai order</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
