{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
      <!--   INFORMASI COUNTDOWN   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI CALENDER
      </div>
      <div class="columns is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_countdown.label_tag }}
          {{ form.tanggal_countdown }}

          {% for error in form.tanggal_countdown.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_countdown.label_tag }}
            {{ form.waktu_countdown }}

            {% for error in form.waktu_countdown.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_countdown_selesai.label_tag }}
            {{ form.waktu_countdown_selesai }}

            {% for error in form.waktu_countdown_selesai.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
          {{ form.location_countdown.label_tag }}
          {{ form.location_countdown }}

          {% for error in form.location_countdown.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-3">
            {{ form.timeZone.label_tag }}
            {{ form.timeZone }}

            {% for error in form.timeZone.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
<a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endblock buttons %}