{% extends "base.html" %}
{% load i18n static %}

{% block isi %}
  <form method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="columns">
        <div class="column
            is-12-mobile
            is-three-fifths-tablet is-offset-one-fifth-tablet
            is-half-desktop is-offset-one-quarter-desktop"
        >
            <div class="card p-5 m-1 mt-5">
                  <!--   INFORMASI BACKGROUND   -->
                  <div class="notification is-light p-1 has-text-centered mt-4">
                    INFORMASI BACKGROUND
                  </div>
                  <div class="column px-0 is-12">
                    {{ form.open_background.label_tag }}
                    {{ form.open_background }}

                    {% for error in form.open_background.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}

                    <p class="subtitle mt-2 mb-1" style="font-size: 11px;">{{ form.open_background.help_text }}</p>

                    {% url 'portofolio:step11' as the_url %}
                    {% if request.path == the_url %}
                    <a class="mt-1" type="button" id="clear_open">clear file</a>
                    {% else %}
                      {% if obj.open_background %}
                        <a class="mt-1" type="button" href="{% url 'portofolio:open_background_delete' portofolio.slug %}">Delete file</a>
                      {% endif %}
                    {% endif %}
                  </div>

                  <div class="column px-0 is-12">
                    {{ form.cover_background.label_tag }}
                    {{ form.cover_background }}

                    {% for error in form.cover_background.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}

                    <p class="subtitle mt-2 mb-1" style="font-size: 11px;">{{ form.cover_background.help_text }}</p>

                    {% url 'portofolio:step11' as the_url %}
                    {% if request.path == the_url %}
                    <a class="mt-1" type="button" id="clear_cover">clear file</a>
                    {% else %}
                      {% if obj.cover_background %}
                        <a class="mt-1" type="button" href="{% url 'portofolio:cover_background_delete' portofolio.slug %}">Delete file</a>
                      {% endif %}
                    {% endif %}
                  </div>

                    <button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
                    <a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
            </div>
        </div>
    </div>
  </form>
{% endblock isi %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
<a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endblock buttons %}