{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
      <!--   INFORMASI DOMPET DIGITAL  -->
      {% if orderproduct == "PLATINUM" or orderproduct == "GOLD" or orderproduct == "DIAMOND" %}
          <div class="notification is-light p-1 has-text-centered mt-4">
            INFORMASI DOMPET DIGITAL
          </div>

          <div class="columns is-multiline">
            <div class="column is-12 pl-2">
              {{ form.alamat_rumah.label_tag }}
              {{ form.alamat_rumah }}

              {% for error in form.alamat_rumah.errors %}
                  <p class="help is-danger">{{ error }}</p>
              {% endfor %}

                <p class="subtitle mt-2" style="font-size: 11px;">{{ form.alamat_rumah.help_text }}</p>
            </div>
            <div class="column is-12">
                {% if formset2 %}
                    {{ formset2.management_form }}
<!--                    <div class="column is-12">-->
                        <div id="ingredient-form-list2">
                            {% for form in formset2 %}
                            <div class="ingredient-form2 mb-5">
    <!--                            {{ form }}-->

                                {% for field in form.visible_fields %}
                                    {{ field.label_tag }} {{ field }}
                                    {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                    <p class="subtitle mt-2 mb-1" style="font-size: 11px;">{{ field.help_text }}</p>
                                {% endfor %}
                                <div class="is-hidden">
                                    {% for field in form.hidden_fields %}
                                        {{ field.label_tag }} {{ field }}
                                        {% for error in field.errors %}
                                            <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
<!--                    </div>-->

                    <div id="empty-form2" class="is-hidden mt-3">{{ formset2.empty_form }}</div>
                {% endif %}
            </div>
          </div>

          <button id="add-more2" type="button" class="button is-small is-outlined pd-1">Tambah</button>
        {% else %}
          <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
            INFORMASI DOMPET DIGITAL
          </div>

          <div class="columns is-hidden is-multiline">
            <div class="column is-hidden is-12">
              {{ form.alamat_rumah.label_tag }}
              {{ form.alamat_rumah }}

              {% for error in form.alamat_rumah.errors %}
                  <p class="help is-danger">{{ error }}</p>
              {% endfor %}

                <p class="subtitle mt-2" style="font-size: 11px;">{{ form.alamat_rumah.help_text }}</p>
            </div>
            <div class="column is-hidden is-12">
                {% if formset2 %}
                    {{ formset2.management_form }}
<!--                    <div class="column is-12">-->
                        <div id="ingredient-form-list2">
                            {% for form in formset2 %}
                            <div class="ingredient-form2 mb-5">
    <!--                            {{ form }}-->

                                {% for field in form.visible_fields %}
                                    {{ field.label_tag }} {{ field }}
                                    {% for error in field.errors %}
                                        <p class="help is-danger">{{ error }}</p>
                                    {% endfor %}
                                    <p class="subtitle mt-2 mb-1" style="font-size: 11px;">{{ field.help_text }}</p>
                                {% endfor %}
                                <div class="is-hidden">
                                    {% for field in form.hidden_fields %}
                                        {{ field.label_tag }} {{ field }}
                                        {% for error in field.errors %}
                                            <p class="help is-danger">{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
<!--                    </div>-->

                    <div id="empty-form2" class="is-hidden mt-3">{{ formset2.empty_form }}</div>
                {% endif %}
            </div>
          </div>

          <button id="add-more2" type="button" class="button is-hidden is-small is-outlined pd-1">Tambah</button>
        {% endif %}
      <br>

{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-4">Submit</button>
{% url 'portofolio:step8' as the_url %}
{% if request.path == the_url %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-hidden is-dark-light p-2 mt-4">Cancel</a>
{% else %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-4">Cancel</a>
{% endif %}
{% endblock buttons %}