{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
      <!--   INFORMASI MAP  -->
      <div class="notification is-light p-1 has-text-centered mt-4">
        INFORMASI MAP
      </div>
      <div class="columns is-multiline mt-1">
        <div class="column is-12">
            {{ form.link_gmap.label_tag }}
            {{ form.link_gmap }}

            {% for error in form.link_gmap.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-12">
            {{ form.link_iframe.label_tag }}
            {{ form.link_iframe }}

            {% for error in form.link_iframe.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-4">Submit</button>
{% url 'portofolio:step7' as the_url %}
{% if request.path == the_url %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-hidden is-dark-light p-2 mt-1">Cancel</a>
{% else %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endif %}
{% endblock buttons %}