{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
    <!--   INFORMASI OUR MOMENT   -->
    {% if orderproduct == "GOLD" %}
    <div class="notification is-light p-1 has-text-centered">
       INFORMASI MOMENT
    </div>
    <div class="columns is-multiline mt-1">
        <div class="column is-12">
          {{ form2.video.label_tag }}
          {{ form2.video }}

          {% for error in form2.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.video.help_text }}</p>
        </div>

        <div class="column is-12">
            {{ form2.livestream.label_tag }}
            {{ form2.livestream }}

            {% for error in form2.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.livestream.help_text }}</p>
        </div>

        <div class="column is-12">
            {{ form2.kata_live_streaming.label_tag }}
            {{ form2.kata_live_streaming }}

            {% for error in form2.kata_live_streaming.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.kata_live_streaming.help_text }}</p>
        </div>

        <div class="column is-12">
            {{ form2.kata_moment.label_tag }}
            {{ form2.kata_moment }}

            {% for error in form2.kata_moment.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.kata_moment.help_text }}</p>
        </div>

        <div class="column is-12">
          {% if formset5 %}
            {{ formset5.management_form }}
                <div id="ingredient-form-list5">
                    {% for form in formset5 %}
                    <div class="ingredient-form5 mb-3">
<!--                        {{ form }}-->
                        {% for field in form.visible_fields %}
                            {{ field.label_tag }} {{ field }}
                            {% for error in field.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}

                            <p class="subtitle mt-2" style="font-size: 11px;">{{ field.help_text }}</p>
                        {% endfor %}
                        <div class="is-hidden">
                            {% for field in form.hidden_fields %}
                                {{ field.label_tag }} {{ field }}
                                {% for error in field.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            <div id="empty-form5" class="is-hidden">{{ formset5.empty_form }}</div>
        {% endif %}
        <button id="add-more5" type="button" class="button is-small is-outlined pd-1 mt-3">Tambah</button>
      </div>
    </div>

    {% elif orderproduct == "PLATINUM" %}
    <div class="notification is-light p-1 has-text-centered">
       INFORMASI MOMENT
    </div>
    <div class="columns is-multiline mt-1">
        <div class="column is-12">
          {{ form2.video.label_tag }}
          {{ form2.video }}

          {% for error in form2.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}

          <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.video.help_text }}</p>
        </div>

        <div class="column is-hidden is-12">
            {{ form2.livestream.label_tag }}
            {{ form2.livestream }}

            {% for error in form2.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.livestream.help_text }}</p>
        </div>
        <div class="column is-hidden is-12">
            {{ form2.kata_live_streaming.label_tag }}
            {{ form2.kata_live_streaming }}

            {% for error in form2.kata_live_streaming.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle is-hidden mt-2" style="font-size: 11px;">{{ form2.kata_live_streaming.help_text }}</p>
        </div>
        <div class="column is-12">
            {{ form2.kata_moment.label_tag }}
            {{ form2.kata_moment }}

            {% for error in form2.kata_moment.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.kata_moment.help_text }}</p>
        </div>

        <div class="column is-12">
          {% if formset3 %}
            {{ formset3.management_form }}
            <div id="ingredient-form-list3">
                {% for form in formset3 %}
                <div class="ingredient-form3 mb-3">
<!--                    {{ form }}-->
                    {% for field in form.visible_fields %}
                        {{ field.label_tag }} {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}

                        <p class="subtitle mt-2" style="font-size: 11px;">{{ field.help_text }}</p>
                    {% endfor %}
                    <div class="is-hidden">
                        {% for field in form.hidden_fields %}
                            {{ field.label_tag }} {{ field }}
                            {% for error in field.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

            <div id="empty-form3" class="is-hidden">{{ formset3.empty_form }}</div>
          {% endif %}
          <button id="add-more3" type="button" class="button is-small is-outlined pd-1 mt-3">Tambah</button>
        </div>
     </div>

     {% else %}
    <div class="notification is-hidden is-light p-1 has-text-centered">
       INFORMASI MOMENT
    </div>
     <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-hidden is-12">
          {{ form2.video.label_tag }}
          {{ form2.video }}

          {% for error in form2.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}

          <p class="subtitle is-hidden mt-2" style="font-size: 11px;">{{ form2.video.help_text }}</p>
        </div>

        <div class="column is-hidden is-12">
            {{ form2.livestream.label_tag }}
            {{ form2.livestream }}

            {% for error in form2.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.livestream.help_text }}</p>
        </div>

         <div class="column is-hidden is-12">
            {{ form2.kata_live_streaming.label_tag }}
            {{ form2.kata_live_streaming }}

            {% for error in form2.kata_live_streaming.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

             <p class="subtitle is-hidden mt-2" style="font-size: 11px;">{{ form2.kata_live_streaming.help_text }}
        </div>

        <div class="column is-hidden is-12">
            {{ form2.kata_moment.label_tag }}
            {{ form2.kata_moment }}

            {% for error in form2.kata_moment.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}

            <p class="subtitle is-hidden mt-2" style="font-size: 11px;">{{ form2.kata_moment.help_text }}</p>
        </div>

        <div class="column is-hidden is-12">
          {% if formset5 %}
            {{ formset5.management_form }}
                <div id="ingredient-form-list5">
                    {% for form in formset5 %}
                    <div class="ingredient-form5 mb-3">
<!--                        {{ form }}-->
                        {% for field in form.visible_fields %}
                            {{ field.label_tag }} {{ field }}
                            {% for error in field.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}

                            <p class="subtitle is-hidden mt-2" style="font-size: 11px;">{{ field.help_text }}</p>
                        {% endfor %}
                        <div class="is-hidden">
                            {% for field in form.hidden_fields %}
                                {{ field.label_tag }} {{ field }}
                                {% for error in field.errors %}
                                    <p class="help is-danger">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            <div id="empty-form5" class="is-hidden">{{ formset5.empty_form }}</div>
        {% endif %}
        <button id="add-more5" type="button" class="button is-hidden is-small is-outlined pd-1 mt-3">Tambah</button>
      </div>
    </div>
    {% endif %}
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
<a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endblock buttons %}