{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
      <!--   INFORMASI PASANGAN   -->
      <!--   Perempuan   -->
      <div class="notification  is-light p-1 has-text-centered">
          INFORMASI PASANGAN
      </div>
      <p class="title  is-size-5 mb-1">Perempuan</p>
      <div class="columns  is-multiline mt-1">
        <div class="column is-12">
          {{ form.pname.label_tag }}
          {{ form.pname }}

          {% for error in form.pname.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-12">
          {{ form.pinsta_link.label_tag }}
          {{ form.pinsta_link }}

          {% for error in form.pinsta_link.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}

          <p class="subtitle mt-2" style="font-size: 11px;">{{ form.pinsta_link.help_text }}</p>
        </div>
        <div class="column is-12">
          {{ form.panak_ke.label_tag }}
          {{ form.panak_ke }}

          {% for error in form.panak_ke.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-12">
          {{ form.pnama_ayah.label_tag }}
          {{ form.pnama_ayah }}

          {% for error in form.pnama_ayah.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-12">
          {{ form.pnama_ibu.label_tag }}
          {{ form.pnama_ibu }}

          {% for error in form.pnama_ibu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
<!--        <div class="column is-12">-->
<!--          {{ form.ppicture.label_tag }}-->
<!--          {{ form.ppicture }}-->

<!--          {% for error in form.ppicture.errors %}-->
<!--              <p class="help is-danger">{{ error }}</p>-->
<!--          {% endfor %}-->

<!--          <p class="subtitle mt-2" style="font-size: 11px;">{{ form.ppicture.help_text }}</p>-->
<!--        </div>-->
      </div>

      <hr class="">

      <!--   Laki-laki   -->
      <p class="title  is-size-5 mb-1">Laki-laki</p>
      <div class="columns  is-multiline mt-1">
        <div class="column is-12">
          {{ form.lname.label_tag }}
          {{ form.lname }}

          {% for error in form.lname.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-12">
          {{ form.linsta_link.label_tag }}
          {{ form.linsta_link }}

          {% for error in form.linsta_link.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}

          <p class="subtitle mt-2" style="font-size: 11px;">{{ form.linsta_link.help_text }}</p>
        </div>
        <div class="column is-12">
          {{ form.lanak_ke.label_tag }}
          {{ form.lanak_ke }}

          {% for error in form.lanak_ke.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-12">
          {{ form.lnama_ayah.label_tag }}
          {{ form.lnama_ayah }}

          {% for error in form.lnama_ayah.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-12">
          {{ form.lnama_ibu.label_tag }}
          {{ form.lnama_ibu }}

          {% for error in form.lnama_ibu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
<!--        <div class="column is-12">-->
<!--          {{ form.lpicture.label_tag }}-->
<!--          {{ form.lpicture }}-->

<!--          {% for error in form.lpicture.errors %}-->
<!--              <p class="help is-danger">{{ error }}</p>-->
<!--          {% endfor %}-->

<!--          <p class="subtitle mt-2" style="font-size: 11px;">{{ form.lpicture.help_text }}</p>-->
<!--        </div>-->
      </div>
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
{% url 'portofolio:step2' as the_url %}
{% if request.path == the_url %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-hidden is-dark-light p-2 mt-1">Cancel</a>
{% else %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endif %}
{% endblock buttons %}