{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
  <!--   INFORMASI QUOTE  -->
  <div class="notification  is-light p-1 has-text-centered mt-4">
    INFORMASI QUOTE
  </div>
  <div class="columns  is-multiline mt-1">
    <div class="column is-12">
        {{ form2.pembuka.label_tag }}
        {{ form2.pembuka }}

        {% for error in form2.pembuka.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}

        <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.pembuka.help_text }}</p>
    </div>
    <div class="column is-12">
        {{ form2.kutipan.label_tag }}
        {{ form2.kutipan }}

        {% for error in form2.kutipan.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}

        <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.kutipan.help_text }}</p>
    </div>
    <div class="column is-12">
      {{ form2.ayat.label_tag }}
      {{ form2.ayat }}

      {% for error in form2.ayat.errors %}
          <p class="help is-danger">{{ error }}</p>
      {% endfor %}

      <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.ayat.help_text }}</p>
    </div>
  </div>
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
{% url 'portofolio:step4' as the_url %}
{% if request.path == the_url %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-hidden is-dark-light p-2 mt-1">Cancel</a>
{% else %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endif %}
{% endblock buttons %}