{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
     <!--   INFORMASI UNDANGAN   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI UNDANGAN
      </div>
      <div class="columns is-multiline">
        <div class="column is-8">
          {{ form.porto_name.label_tag }}
          {{ form.porto_name }}

          {% for error in form.porto_name.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-8">
            {{ form.description.label_tag }}
            {{ form.description }}

            {% for error in form.description.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
<a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endblock buttons %}