{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
     <!--   INFORMASI UNDANGAN   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI UNDANGAN
      </div>
      <div class="columns is-multiline">
        <div class="column is-8">
          {{ form.porto_name.label_tag }}
          {{ form.porto_name }}

          {% for error in form.porto_name.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-8">
            {{ form.description.label_tag }}
            {{ form.description }}

            {% for error in form.description.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>
      <!--   INFORMASI PASANGAN   -->
      <!--   Perempuan   -->
      <div class="notification is-hidden is-light p-1 has-text-centered">
          INFORMASI PASANGAN
      </div>
      <p class="title is-hidden is-size-5 mb-1">Perempuan</p>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-4">
          {{ form.pname.label_tag }}
          {{ form.pname }}

          {% for error in form.pname.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-5">
          {{ form.pinsta_link.label_tag }}
          {{ form.pinsta_link }}

          {% for error in form.pinsta_link.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-3">
          {{ form.panak_ke.label_tag }}
          {{ form.panak_ke }}

          {% for error in form.panak_ke.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.pnama_ayah.label_tag }}
          {{ form.pnama_ayah }}

          {% for error in form.pnama_ayah.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.pnama_ibu.label_tag }}
          {{ form.pnama_ibu }}

          {% for error in form.pnama_ibu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-6">
          {{ form.ppicture.label_tag }}
          {{ form.ppicture }}

          {% for error in form.ppicture.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <hr class="is-hidden">

      <!--   Laki-laki   -->
      <p class="title is-hidden is-size-5 mb-1">Laki-laki</p>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-4">
          {{ form.lname.label_tag }}
          {{ form.lname }}

          {% for error in form.lname.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-5">
          {{ form.linsta_link.label_tag }}
          {{ form.linsta_link }}

          {% for error in form.linsta_link.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-3">
          {{ form.lanak_ke.label_tag }}
          {{ form.lanak_ke }}

          {% for error in form.lanak_ke.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.lnama_ayah.label_tag }}
          {{ form.lnama_ayah }}

          {% for error in form.lnama_ayah.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.lnama_ibu.label_tag }}
          {{ form.lnama_ibu }}

          {% for error in form.lnama_ibu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-6">
          {{ form.lpicture.label_tag }}
          {{ form.lpicture }}

          {% for error in form.lpicture.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <!--   INFORMASI ACARA   -->
      <div class="notification is-hidden is-light p-1 has-text-centered">
        INFORMASI ACARA
      </div>
      <!--   AKAD   -->
      <p class="title is-hidden is-size-5 mb-1">Akad</p>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_akad.label_tag }}
          {{ form.tanggal_akad }}

          {% for error in form.tanggal_akad.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_akad.label_tag }}
            {{ form.waktu_akad }}

            {% for error in form.waktu_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_selesai_akad.label_tag }}
            {{ form.waktu_selesai_akad }}

            {% for error in form.waktu_selesai_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.link_gmap_akad.label_tag }}
            {{ form.link_gmap_akad }}

            {% for error in form.link_gmap_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.tempat_akad.label_tag }}
            {{ form.tempat_akad }}

            {% for error in form.tempat_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

      </div>

      <hr class="is-hidden">

      <!--   RESEPSI   -->
      <p class="title is-hidden is-size-5 mb-1">Resepsi</p>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_resepsi.label_tag }}
          {{ form.tanggal_resepsi }}

          {% for error in form.tanggal_resepsi.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_resepsi.label_tag }}
            {{ form.waktu_resepsi }}

            {% for error in form.waktu_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_selesai_resepsi.label_tag }}
            {{ form.waktu_selesai_resepsi }}

            {% for error in form.waktu_selesai_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-hidden is-4">
            {{ form.datetime_resepsi.label_tag }}
            {{ form.datetime_resepsi }}

            {% for error in form.datetime_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.link_gmap_resepsi.label_tag }}
            {{ form.link_gmap_resepsi }}

            {% for error in form.link_gmap_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.tempat_resepsi.label_tag }}
            {{ form.tempat_resepsi }}

            {% for error in form.tempat_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

      </div>

      <hr class="is-hidden">

      <!--   UNDUH MANTU   -->
      <p class="title is-hidden is-size-5 mb-1">Unduh mantu</p>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_unduhmantu.label_tag }}
          {{ form.tanggal_unduhmantu }}

          {% for error in form.tanggal_unduhmantu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_unduhmantu.label_tag }}
            {{ form.waktu_unduhmantu }}

            {% for error in form.waktu_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_selesai_unduhmantu.label_tag }}
            {{ form.waktu_selesai_unduhmantu }}

            {% for error in form.waktu_selesai_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.link_gmap_unduhmantu.label_tag }}
            {{ form.link_gmap_unduhmantu }}

            {% for error in form.link_gmap_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.tempat_unduhmantu.label_tag }}
            {{ form.tempat_unduhmantu }}

            {% for error in form.tempat_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-3">
            {{ form.timeZone.label_tag }}
            {{ form.timeZone }}

            {% for error in form.timeZone.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <!--   INFORMASI OUR MOMENT   -->
    {% if orderproduct == "GOLD" %}
    <div class="notification is-hidden is-light p-1 has-text-centered">
       INFORMASI MOMENT
    </div>
    <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-6">
          {{ form.video.label_tag }}
          {{ form.video }}

          {% for error in form.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.livestream.label_tag }}
            {{ form.livestream }}

            {% for error in form.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-12">
          {% if formset5 %}
            {{ formset5.management_form }}
            <div class="column is-6">
                <div id="ingredient-form-list5">
                    {% for field in formset5 %}
                    <div class="ingredient-form5 mb-3">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="empty-form5" class="is-hidden">{{ formset5.empty_form }}</div>
        {% endif %}
        <button id="add-more5" type="button" class="button is-small is-outlined pd-1">Tambah</button>
      </div>
    </div>

    {% elif orderproduct == "PLATINUM" %}
    <div class="notification is-hidden is-light p-1 has-text-centered">
       INFORMASI MOMENT
    </div>
    <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-6">
          {{ form.video.label_tag }}
          {{ form.video }}

          {% for error in form.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-hidden is-6">
            {{ form.livestream.label_tag }}
            {{ form.livestream }}

            {% for error in form.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-12">
          {% if formset3 %}
            {{ formset3.management_form }}
            <div class="column is-6">
                <div id="ingredient-form-list3">
                    {% for field in formset3 %}
                    <div class="ingredient-form3 mb-3">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="empty-form3" class="is-hidden">{{ formset3.empty_form }}</div>
          {% endif %}
          <button id="add-more3" type="button" class="button is-small is-outlined pd-1">Tambah</button>
        </div>
     </div>

     {% else %}
    <div class="notification is-hidden is-light p-1 has-text-centered">
       INFORMASI MOMENT
    </div>
     <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-hidden is-6">
          {{ form.video.label_tag }}
          {{ form.video }}

          {% for error in form.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-hidden is-6">
            {{ form.livestream.label_tag }}
            {{ form.livestream }}

            {% for error in form.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-hidden is-12">
          {% if formset5 %}
            {{ formset5.management_form }}
            <div class="column is-6">
                <div id="ingredient-form-list5">
                    {% for field in formset5 %}
                    <div class="ingredient-form5 mb-3">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="empty-form5" class="is-hidden">{{ formset5.empty_form }}</div>
        {% endif %}
        <button id="add-more5" type="button" class="button is-hidden is-small is-outlined pd-1">Tambah</button>
      </div>
    </div>
    {% endif %}

      <!--   INFORMASI SPECIAL INVITATIOM   -->
      <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
        INFORMASI TAMU UNDANGAN KHUSUS
      </div>

      <div class="columns is-hidden is-multiline">
        {% if formset %}
            {{ formset.management_form }}
            <div class="column is-6">
                <div id="ingredient-form-list">
                    {% for form in formset %}
                    <div class="ingredient-form mb-3">
                        {{ form }}

<!--                        {% for field in form %}-->
<!--                            {{ field.label_tag }} {{ field }}-->
<!--                            {% for error in field.errors %}-->
<!--                                <p class="help is-danger">{{ error }}</p>-->
<!--                            {% endfor %}-->
<!--                        {% endfor %}-->
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="empty-form" class="is-hidden">{{ formset.empty_form }}</div>
        {% endif %}
      </div>

      <button id="add-more" type="button" class="button is-hidden is-small is-outlined pd-1">Tambah</button>

      <!--   INFORMASI CALENDER   -->
      <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
        INFORMASI CALENDER
      </div>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-hidden is-6">
          {{ form.name.label_tag }}
          {{ form.name }}

          {% for error in form.name.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-hidden is-6">
            {{ form.options.label_tag }}
            {{ form.options }}

            {% for error in form.options.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-hidden is-6">
            {{ form.trigger.label_tag }}
            {{ form.trigger }}

            {% for error in form.trigger.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-hidden is-6">
            {{ form.iCalFileName.label_tag }}
            {{ form.iCalFileName }}

            {% for error in form.iCalFileName.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-3">
            {{ form.startDate.label_tag }}
            {{ form.startDate }}

            {% for error in form.startDate.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-3">
            {{ form.startTime.label_tag }}
            {{ form.startTime }}

            {% for error in form.startTime.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-3">
            {{ form.endTime.label_tag }}
            {{ form.endTime }}

            {% for error in form.endTime.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-hidden is-8">
            {{ form.location.label_tag }}
            {{ form.location }}

            {% for error in form.location.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <!--   INFORMASI MAP  -->
      <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
        INFORMASI MAP
      </div>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-hidden is-8">
          {{ form.lokasi.label_tag }}
          {{ form.lokasi }}

          {% for error in form.lokasi.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.link_gmap.label_tag }}
            {{ form.link_gmap }}

            {% for error in form.link_gmap.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.link_iframe.label_tag }}
            {{ form.link_iframe }}

            {% for error in form.link_iframe.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <!--   INFORMASI DOMPET DIGITAL  -->
      {% if orderproduct == "PLATINUM" or orderproduct == "GOLD" %}
          <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
            INFORMASI DOMPET DIGITAL
          </div>

          <div class="columns is-hidden is-multiline">
            {% if formset2 %}
                {{ formset2.management_form }}
                <div class="column is-4">
                    <div id="ingredient-form-list2">
                        {% for form in formset2 %}
                        <div class="ingredient-form2 mb-5">
                            {{ form }}

    <!--                        {% for field in form %}-->
    <!--                            {{ field.label_tag }} {{ field }}-->
    <!--                            {% for error in field.errors %}-->
    <!--                                <p class="help is-danger">{{ error }}</p>-->
    <!--                            {% endfor %}-->
    <!--                        {% endfor %}-->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="empty-form2" class="is-hidden mt-3">{{ formset2.empty_form }}</div>
            {% endif %}
          </div>

          <button id="add-more2" type="button" class="button is-hidden is-small is-outlined pd-1">Tambah</button>
        {% else %}
          <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
            INFORMASI DOMPET DIGITAL
          </div>

          <div class="columns is-hidden is-multiline">
            {% if formset2 %}
                {{ formset2.management_form }}
                <div class="column is-4">
                    <div id="ingredient-form-list2">
                        {% for form in formset2 %}
                        <div class="ingredient-form2 mb-5">
                            {{ form }}

    <!--                        {% for field in form %}-->
    <!--                            {{ field.label_tag }} {{ field }}-->
    <!--                            {% for error in field.errors %}-->
    <!--                                <p class="help is-danger">{{ error }}</p>-->
    <!--                            {% endfor %}-->
    <!--                        {% endfor %}-->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="empty-form2" class="is-hidden mt-3">{{ formset2.empty_form }}</div>
            {% endif %}
          </div>

          <button id="add-more2" type="button" class="button is-hidden is-small is-outlined pd-1">Tambah</button>
        {% endif %}

      <!--   INFORMASI QUOTE  -->
      <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
        INFORMASI QUOTE
      </div>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-6">
            {{ form2.kutipan.label_tag }}
            {{ form2.kutipan }}

            {% for error in form2.kutipan.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
          {{ form2.ayat.label_tag }}
          {{ form2.ayat }}

          {% for error in form2.ayat.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <!--   INFORMASI STORY  -->
      {% if orderproduct == "PLATINUM" or orderproduct == "GOLD" %}
          <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
            INFORMASI STORY
          </div>
          <div class="columns is-hidden is-multiline">
            {% if formset4 %}
                {{ formset4.management_form }}
                <div class="column is-4">
                    <div id="ingredient-form-list4">
                        {% for form in formset4 %}
                        <div class="ingredient-form4 mb-5">
                            {{ form }}

    <!--                        {% for field in form %}-->
    <!--                            {{ field.label_tag }} {{ field }}-->
    <!--                            {% for error in field.errors %}-->
    <!--                                <p class="help is-danger">{{ error }}</p>-->
    <!--                            {% endfor %}-->
    <!--                        {% endfor %}-->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="empty-form4" class="is-hidden mt-3">{{ formset4.empty_form }}</div>
            {% endif %}
          </div>

          <button id="add-more4" type="button" class="is-hidden button is-small is-outlined pd-1">Tambah</button>
      {% else %}
          <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
            INFORMASI STORY
          </div>
          <div class="columns is-hidden is-multiline">
            {% if formset4 %}
                {{ formset4.management_form }}
                <div class="column is-4">
                    <div id="ingredient-form-list4">
                        {% for form in formset4 %}
                        <div class="ingredient-form4 mb-5">
                            {{ form }}

    <!--                        {% for field in form %}-->
    <!--                            {{ field.label_tag }} {{ field }}-->
    <!--                            {% for error in field.errors %}-->
    <!--                                <p class="help is-danger">{{ error }}</p>-->
    <!--                            {% endfor %}-->
    <!--                        {% endfor %}-->
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div id="empty-form4" class="is-hidden mt-3">{{ formset4.empty_form }}</div>
            {% endif %}
          </div>

          <button id="add-more4" type="button" class="button is-hidden is-small is-outlined pd-1">Tambah</button>
      {% endif %}

      <!--   INFORMASI TEMA   -->
      <div class="notification is-hidden is-light p-1 has-text-centered mt-4">
        INFORMASI TEMA
      </div>
      <div class="columns is-hidden is-multiline mt-1">
        <div class="column is-6">
          {{ form3.theme.label_tag }}
          {{ form3.theme }}

          {% for error in form3.theme.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
<a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endblock buttons %}