{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
  <!--   INFORMASI SPECIAL INVITATIOM   -->
  <div class="notification is-light p-1 has-text-centered mt-4">
    INFORMASI TAMU UNDANGAN KHUSUS
  </div>

  <div class="columns is-multiline">
    <div class="column is-12">
        {{ form2.kata_special_invite.label_tag }}
        {{ form2.kata_special_invite }}

        {% for error in form2.kata_special_invite.errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}

        <p class="subtitle mt-2" style="font-size: 11px;">{{ form2.kata_special_invite.help_text }}</p>
    </div>
  </div>

  <div class="columns is-multiline">
    {% if formset %}
        {{ formset.management_form }}
        <div class="column is-12">
            <div id="ingredient-form-list">
                {% for form in formset %}
                <div class="ingredient-form mb-1">
<!--                    {{ form }}-->
                    {% for field in form.visible_fields %}
                        {{ field.label_tag }} {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}

                         <p class="subtitle mt-2 mb-1" style="font-size: 11px;">{{ field.help_text }}</p>
                    {% endfor %}
                    <div class="is-hidden">
                        {% for field in form.hidden_fields %}
                            {{ field.label_tag }} {{ field }}
                            {% for error in field.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="empty-form" class="is-hidden">{{ formset.empty_form }}</div>
    {% endif %}
  </div>

  <button id="add-more" type="button" class="button is-small is-outlined pd-1">Tambah</button>
  <br>

{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-4">Submit</button>
{% url 'portofolio:step9' as the_url %}
{% if request.path == the_url %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-hidden is-dark-light p-2 mt-1">Cancel</a>
{% else %}
    <a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endif %}
{% endblock buttons %}