{% extends 'portofolio/register_porto.html' %}

<!--  Buttons denied here -->
{% block update %}
      <!--   INFORMASI TEMA   -->
      <div class="notification is-light p-1 has-text-centered mt-4">
        INFORMASI TEMA
      </div>
      <div class="columns is-multiline mt-1">
        <div class="column is-12 mt-3">
          {{ form3.theme.label_tag }}
          {{ form3.theme }}

          {% for error in form3.theme.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
{% endblock update %}

<!--  Buttons  -->
{% block buttons %}
<button id="submit" type="submit" class="button is-info p-2 mt-1">Submit</button>
<a href="{% url 'portofolio:configurasi' %}"  class="button is-dark-light p-2 mt-1">Cancel</a>
{% endblock buttons %}