{% extends "account/base.html" %}

{% block content %}
    <h1 class="title is-size-5 mb-3">Password Reset Confirm</h1>
    <form method="POST" action="{% url 'user:password_change' %}">
        {% csrf_token %}
            <div class="columns is-multiline has-text-left">
                <div class="column is-half is-offset-one-quarter">
                    <p>Please enter your new password.</p>
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.help_text|safe }}
                    {% endfor %}
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                              <p class="help is-black">{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="help is-black">{{ error|escape }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        <button class="button is-black" type="submit">Reset password</button>
    </form>
{% endblock %}