{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="title is-size-5 mb-1">{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="columns is-multiline has-text-left mt-3">
    <div class="column is-half is-offset-one-quarter">
<!--      {{ form.as_p }}-->
      {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
      {% endfor %}
      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
              <p class="help is-black">{{ error|escape }}</p>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <p class="help is-black">{{ error|escape }}</p>
        {% endfor %}
      {% endif %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="button is-black mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
      <a class="button mt-3" type="submit" href="{% url 'socialaccount_signup' %}">Daftar dengan Google &raquo;</a>
    </div>
  </div>
</form>

{% endblock %}


