<!doctype html>
{% load i18n static %}
<html lang="id">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Debugging css tool  -->
<!--    <link rel="stylesheet" href="{% static 'site/css/debug.css' %}" crossorigin="anonymous" />-->
    <!-- Style CSS   -->
    <link rel="stylesheet" href="{% static 'site/css/style.css' %}" crossorigin="anonymous" />

    <!-- Fontawesome   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="image/png" href="{% static 'site/img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'site/img/favicon-16x16.png' %}" sizes="16x16" />

    <title>{% trans "Hello, World!" %}</title>
  </head>
  <body>
    <nav id="navbarapp" class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a class="navbar-item" href="/">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a v-bind:aria-expanded="isActive" v-bind:class="{ 'is-active': isActive }" role="button" class="navbar-burger"
           aria-label="menu" data-target="navbarMenu" @click="isActive = !isActive">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenu" class="navbar-menu has-text-centered" v-bind:class="{ 'is-active': isActive }">
          <div class="navbar-start has-text-weight-bold ml-2">
              <a class="navbar-item">Preset/Desain</a>
              <a class="navbar-item">Portofolio</a>
          </div>

          <div class="navbar-end">

              {% if user.is_authenticated %}
                  <a class="navbar-item has-text-weight-bold" href="{% url 'portofolio:myportofolio' %}">My Portofolio</a>
                  <a class="navbar-item has-text-weight-bold" href="{% url 'account_logout' %}">Sign Out</a>
                  {% if order %}
                    <a class="navbar-item has-text-weight-bold" href="{% url 'order:list' %}">Order ({{ order.status }})</a>
                  {% else %}
                    <a class="navbar-item has-text-weight-bold" href="{% url 'cart:cart_detail' %}">Cart ({{ cart.get_total_quantity }})</a>
                  {% endif %}
              {% else %}
                  <a class="navbar-item has-text-weight-bold" href="{% url 'account_login' %}">Sign In</a>
                  <a class="navbar-item has-text-weight-bold" href="{% url 'account_signup' %}">Sign Up</a>
              {% endif %}
          </div>
      </div>

    </nav>

    {% block isi %}
    {% endblock %}

    <section class="hero is-medium">
  <div class="hero-footer is-marginless p-3 mt-1">
    <div class="container px-2 pt-3">
      <div class="columns is-multiline is-vcentered is-mobile">



        <div class="column
        is-12-mobile
        is-6-tablet
        is-6-desktop
        is-6-widescreen
        is-6-fullhd">
          <h1 class="subtitle has-text-weight-bold is-size-5-desktop is-size-5-tablet is-size-6-mobile mt-3 mb-4 px-4">
            Metode Pembayaran
          </h1>
          <div class="columns is-multiline is-mobile px-4">
            <div class="column
            is-4-mobile
            is-4-tablet
            is-4-desktop
            is-4-widescreen
            is-4-fullhd p-2">
              <figure class="image is-48x48">
                <img class="is-rounded" src="{% static 'site/img/bca.png' %}">
              </figure>
            </div>
            <div class="column
            is-4-mobile
            is-4-tablet
            is-4-desktop
            is-4-widescreen
            is-4-fullhd p-2">
              <figure class="image is-48x48">
                <img class="is-rounded" src="{% static 'site/img/bri.png' %}">
              </figure>
            </div>
            <div class="column
            is-4-mobile
            is-4-tablet
            is-4-desktop
            is-4-widescreen
            is-4-fullhd p-2">
              <figure class="image is-48x48">
                <img class="is-rounded" src="{% static 'site/img/gopay.png' %}">
              </figure>
            </div>
            <div class="column
            is-4-mobile
            is-4-tablet
            is-4-desktop
            is-4-widescreen
            is-4-fullhd p-2">
              <figure class="image is-48x48">
                <img class="is-rounded" src="{% static 'site/img/dana.png' %}">
              </figure>
            </div>
            <div class="column
            is-4-mobile
            is-4-tablet
            is-4-desktop
            is-4-widescreen
            is-4-fullhd p-2">
              <figure class="image is-48x48">
                <img class="is-rounded" src="{% static 'site/img/ovo.png' %}">
              </figure>
            </div>
            <div class="column
            is-4-mobile
            is-4-tablet
            is-4-desktop
            is-4-widescreen
            is-4-fullhd p-2">
              <figure class="image is-48x48">
                <img class="is-rounded" src="{% static 'site/img/jenius.png' %}">
              </figure>
            </div>
          </div>
        </div>



        <div class="column
        is-12-mobile
        is-6-tablet
        is-6-desktop
        is-6-widescreen
        is-6-fullhd pt-1">
          <h1 class="subtitle has-text-weight-bold is-size-5-desktop is-size-5-tablet is-size-6-mobile mb-4 px-4">
            Kontak
          </h1>

          <div class="columns is-multiline is-mobile px-4">
            <div class="column
            is-6-mobile
            is-6-tablet
            is-6-desktop
            is-6-widescreen
            is-6-fullhd p-2">
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fa-brands fa-2x fa-whatsapp"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    082213566900
                  </p>
                </div>
              </article>
            </div>
            <div class="column
            is-6-mobile
            is-6-tablet
            is-6-desktop
            is-6-widescreen
            is-6-fullhd p-2">
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fa-brands fa-2x fa-instagram"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    @wedding.link
                  </p>
                </div>
              </article>
            </div>
            <div class="column
            is-6-mobile
            is-6-tablet
            is-6-desktop
            is-6-widescreen
            is-6-fullhd p-2">
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fa-solid fa-2x fa-envelopes-bulk"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    wedding@gmail.com
                  </p>
                </div>
              </article>
            </div>
            <div class="column
            is-6-mobile
            is-6-tablet
            is-6-desktop
            is-6-widescreen
            is-6-fullhd p-2">
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium">
                    <i class="fa-brands fa-2x fa-facebook-f"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    wedding.link
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    <hr class="mb-1">

    <section class="hero is-small is-paddingless is-marginless">
  <div class="hero-footer">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <p class="subtitle is-size-6 has-text-black">
              © 2022 Copyright tomtomstore.website
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

    <!-- Optional JavaScript -->
    <!-- vue3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="{% static  'site/js/main.js' %}"></script>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    <!-- Jquery mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--  Vue instance for navbar  -->
    <script>
      const { createApp } = Vue

      const navbarapp = createApp({
          el: '#navbarapp',
          delimiters: ['[[', ']]'],
          data () {
              return {
                  isActive: false,
              }
          },
      })

      navbarapp.mount('#navbarapp')
    </script>

    <!--  Vue instance for navbar  -->

    {% block script %}
    {% endblock %}
  </body>
</html>