{% extends "base.html" %}
{% load i18n static %}

{% block isi %}
  <div id="index">
    <!---------- HOME START ---------->
    <section class="hero is-white is-medium">
      <div class="hero-body is-marginless p-3 mt-6">
        <div class="container p-4">
          <div class="columns is-multiline is-vcentered">
            <div class="column
            is-10-mobile
            is-5-tablet
            is-5-desktop
            is-5-widescreen
            is-5-fullhd is-paddingless center py-3 px-6" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500">
              <figure class="image">
                <img src="{% static 'site/img/main.png' %}" style="max-width:350px">
              </figure>
            </div>
            <div class="column
            is-12-mobile
            is-7-tablet
            is-6-desktop
            is-6-widescreen
            is-6-fullhd" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000">
              <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-5">
                Website <br><strong>Undangan Pernikahan</strong>
              </h1>
              <p class="is-size-5-tablet">Solusi pernikahan lebih hemat, praktis, dan kekinian dengan <strong>Einvitation<br></strong></p>

              <div class="buttons mt-3">
                {% if user.is_authenticated %}
                  {% if order %}
                    {% if order.status == 'terkonfirmasi' %}
                      <a class="button is-danger" href="{% url 'portofolio:step1' %}">Buat undangan sekarang</a>
                    {% else %}
                      <a class="button is-danger" href="{% url 'order:status' %}">Buat undangan sekarang</a>
                    {% endif %}
                  {% else %}
                    <a class="button is-danger" @click="goto('div1')">Beli Produk</a>
                  {% endif %}
                {% else %}
                    <a class="button is-danger" href="{% url 'account_signup' %}">Buat undangan sekarang</a>
                {% endif %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------- HOME END ---------->

    <!---------- RESUME START ---------->
    <section class="hero has-background-danger-light is-small">
      <div class="hero-body mt-6 mb-6">
        <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
          <div class="columns is-multiline is-vcentered">
            <div class="column
            is-12-mobile
            is-5-tablet
            is-6-desktop
            is-7-widescreen
            is-6-fullhd has-text-centered">
              <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-5">
                <strong>No. 1 Platform</strong><br>Pernikahan Digital
              </h1>
              <p>
                Buat website undangan pernikahanmu secara ekslusif dengan mudah, murah dan cepat. Solusi website undangan pernikahan kamu jadi lebih berkesan!
              </p>
            </div>
            <div class="column
            is-12-mobile
            is-7-tablet
            is-6-desktop
            is-5-widescreen
            is-5-fullhd ">
              <div class="columns is-multiline is-mobile is-centered">
                <div class="column is-5">
                  <article class="media">
                    <figure class="media-left">
                      <span class="icon is-medium has-text-danger">
                        <i class="fa-solid fa-2x fa-envelope"></i>
                      </span>
                    </figure>
                    <div class="media-content">
                      <p class="is-size-7-mobile is-size-6-tablet">
                        <strong>{{ porto_count }}</strong>
                        <br>
                        Undangan Aktif
                      </p>
                    </div>
                  </article>
                </div>
                <div class="column is-5">
                  <article class="media">
                    <figure class="media-left">
                      <span class="icon is-medium has-text-danger">
                        <i class="fa-solid fa-2x fa-pen-to-square"></i>
                      </span>
                    </figure>
                    <div class="media-content">
                      <p class="is-size-7-mobile is-size-6-tablet">
                        <strong>{{ ucapan_count }}</strong>
                        <br>
                        Doa & ucapan
                      </p>
                    </div>
                  </article>
                </div>
                <div class="column is-5">
                  <article class="media">
                    <figure class="media-left">
                      <span class="icon is-medium has-text-danger">
                        <i class="fa-solid fa-2x fa-wallet"></i>
                      </span>
                    </figure>
                    <div class="media-content">
                      <p class="is-size-7-mobile is-size-6-tablet">
                        <strong>{{ dompet_count }}</strong>
                        <br>
                        Amplop digital
                      </p>
                    </div>
                  </article>
                </div>
                <div class="column is-5">
                  <article class="media">
                    <figure class="media-left">
                      <span class="icon is-medium has-text-danger">
                        <i class="fa-solid fa-2x fa-calendar-check"></i>
                      </span>
                    </figure>
                    <div class="media-content">
                      <p class="is-size-7-mobile is-size-6-tablet">
                        <strong>{{ hadir_count }}</strong>
                        <br>
                        Tamu reservasi
                      </p>
                    </div>
                  </article>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------- RESUME END ---------->

    <!---------- PORTO START ---------->
    <section class="hero has-background-warning-light is-medium">
      <div class="hero-body is-marginless p-3 mt-6">
        <div class="container">
          <div class="columns is-multiline is-vcentered">
            <div class="column
            is-12-mobile
            is-12-tablet
            is-7-desktop
            is-7-widescreen
            is-4-fullhd is-offset-1-fullhd has-text-centered" data-aos="fade-right">
              <figure class="image center" style="heigth: 400px; width: 300px;">
                <img src="{% static 'site/img/undraw_online_article.svg' %}">
              </figure>
              <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-5 mt-5">
                {{ porto_count }} <br><strong>Undangan Aktif</strong>
              </h1>
              <p class="is-size-5-tablet px-6">Banyak pasangan berbahagia sudah membuat undangnya, giliran kamu untuk mencoba :)</p>
            </div>
            <div class="column
            is-12-mobile
            is-12-tablet
            is-5-desktop
            is-5-widescreen
            is-5-fullhd">

              <!---------- PORTO LIST START ---------->
              {% include 'portofolio/parts/porto_list.html' %}
              <!---------- PORTO LIST END ---------->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------- PORTO END ---------->

    <!---------- FITUR LIST START ---------->
    {% include 'parts/fiturs.html' %}
    <!---------- FITUR LIST END ---------->

    <!---------- PRESET START ---------->
    <section class="hero has-background-warning-light is-medium">
      <div class="hero-body is-marginless p-3 mt-1">
        <div class="container px-2 pt-3">
          <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-1 px-4">
            Berbagai Pilihan Desain
          </h1>
          <p class="is-size-5-tablet px-4 mt-1 block">{{ themes|length }} Desain tersedia. Pilih desain undangan yang sesuai dengan seleramu</p>
          <div class="columns is-multiline is-vcentered">
            <div class="column center
            is-12-mobile
            is-12-tablet
            is-10-desktop
            is-10-widescreen
            is-10-fullhd">
              <!---------- PRESET LIST START ---------->
              {% include 'portofolio/parts/preset_list.html' %}
              <!---------- PRESET LIST END ---------->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------- PRESET END ---------->

    <!---------- DAFTAR PRODUK, CARA BUAT UNDANGAN DAN FAQ START ---------->
    {% include 'portofolio/parts/fitur_list.html' %}
    <!---------- DAFTAR PRODUK, CARA BUAT UNDANGAN DAN FAQ END ---------->

    <!---------- TESTIMONI START ---------->
    <section class="hero has-background-warning-light is-medium is-hidden">
      <div class="hero-body is-marginless p-3 mt-1">
        <div class="container px-2 pt-3">
          <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-1 px-4">
            Testimoni
          </h1>
          <p class="is-size-5-tablet px-4 mt-1 block">Pendapat mereka yang telah membuat undangan,</p>
          <div class="columns is-multiline">

            <div class="column is-12">
              <div class="swiper mySwiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide card">
                          <div class="card-content">
                            <p class="is-size-7-mobile is-size-6-tablet"><small>dari</small> <strong>Ratih & Aristo</strong></p>
                              &#9733 &#9733 &#9733 &#9733 &#9734
                            <p class="is-size-7-mobile is-size-6-tablet mt-2">
                            <i class="fa-solid fa-quote-left"></i>
                              Fiturnya bagus banget, dan bisa diedit kapan aja.
                            <i class="fa-solid fa-quote-right"></i>
                            </p>
                          </div>
                      </div>
                      <div class="swiper-slide card">
                          <div class="card-content">
                            <p class="is-size-7-mobile is-size-6-tablet"><small>dari</small> <strong>Ratih & Aristo</strong></p>
                              &#9733 &#9733 &#9733 &#9733 &#9734
                            <p class="is-size-7-mobile is-size-6-tablet mt-2">
                            <i class="fa-solid fa-quote-left"></i>
                              Fiturnya bagus banget, dan bisa diedit kapan aja.
                            <i class="fa-solid fa-quote-right"></i>
                            </p>
                          </div>
                      </div>
                      <div class="swiper-slide card">
                          <div class="card-content">
                            <p class="is-size-7-mobile is-size-6-tablet"><small>dari</small> <strong>Ratih & Aristo</strong></p>
                              &#9733 &#9733 &#9733 &#9733 &#9734
                            <p class="is-size-7-mobile is-size-6-tablet mt-2">
                            <i class="fa-solid fa-quote-left"></i>
                              Fiturnya bagus banget, dan bisa diedit kapan aja.
                            <i class="fa-solid fa-quote-right"></i>
                            </p>
                          </div>
                      </div>
                      <div class="swiper-slide card">
                          <div class="card-content">
                            <p class="is-size-7-mobile is-size-6-tablet"><small>dari</small> <strong>Ratih & Aristo</strong></p>
                              &#9733 &#9733 &#9733 &#9733 &#9734
                            <p class="is-size-7-mobile is-size-6-tablet mt-2">
                            <i class="fa-solid fa-quote-left"></i>
                              Fiturnya bagus banget, dan bisa diedit kapan aja.
                            <i class="fa-solid fa-quote-right"></i>
                            </p>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!---------- TESTIMONI END ---------->
  </div>
{% endblock %}

{% block script %}
<script>
  <!----------   FAQ   ---------->
  const index = createApp({
      el: '#index',
      delimiters: ['[[', ']]'],
      data () {
          return {
              show: false,
              show2: false,
              show3: false,
              show4: false,
              show5: false,
              show6: false,
          }
      },
      methods: {
        showModal() {
            this.show = !this.show;
        },
        showModal2() {
            this.show2 = !this.show2;
        },
        showModal3() {
            this.show3 = !this.show3;
        },
        showModal4() {
            this.show4 = !this.show4;
        },
        showModal5() {
            this.show5 = !this.show5;
        },
        showModal6() {
            this.show6 = !this.show6;
        },
        goto(refName) {
            var element = this.$refs[refName];
            var top = element.offsetTop;

            window.scrollTo(0, top);
        },
      },
  })

  index.mount('#index')
  <!----------   FAQ END   ---------->
</script>
<script src="{% static  'site/js/main.js' %}"></script>
{% endblock %}