{% extends "base.html" %}
{% load i18n static %}

{% block title %} Cart | {% endblock %}

{% block isi %}
    <div class="container">
        <div class="box">
            <h1 class="title is-size-3-tablet is-size-4-mobile has-text-centered">Keranjang Belanja</h1>

            {% if cart %}
                <div class="table">
                    <table class="table is-size-5-desktop is-size-6-tablet is-size-7-mobile">
                        <thead class="has-background-light">
                            <th>Produk</th>
                            <th>Jumlah</th>
                            <th>Harga</th>
                            <th></th>
                        </thead>
                        {% for item in cart %}
                        {% with product=item.product %}
                            <tbody>
                                <tr>

                                    <td>{{ product.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.total_price }}</td>
                                    <td>
                                        <form action="{% url 'cart:remove_cart' product.id %}" method="post">
                                            {% csrf_token %}
                                            <input class="button is-small is-danger" type="submit" value="Hapus">
                                        </form>
<!--                                        <button class="button is-small is-danger is-size-7-mobile"><a href="{% url 'cart:remove_cart' product.id %}">Hapus</a></button>-->
                                    </td>
                                </tr>
                            </tbody>
                        {% endwith %}
                        {% endfor %}

                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>{{ cart.get_total_quantity }}</td>
                                <td>{{ cart.get_total_price }}</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                {% include "order/checkout.html" %}
                </div>


            {% else %}
                <div class="container has-text-centered">
                    <p class="has-text-danger">Keranjang anda kosong!</p>
                    <br>
                    <button class="button is-primary">
                        <a href="/">Mulai belanja</a>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
