{% load i18n static %}

<section class="hero is-small" style="background-image: url('{% static "site/img/white_background.jpg" %}')">
    <div class="hero-body">
      <div class="container px-2 pt-3">
        <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-5">
          Fitur Kami
        </h1>
        <p class="is-size-5-tablet mt-1 block">Website Undangan disertai dengan berbagai fitur</p>

        <div class="columns is-multiline is-mobile is-gapless is-vcentered">
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Hitungan Mundur
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-mobile-button"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Design Modern & Responsive
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-calendar-check"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Menambahkan ke Kalender
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-share-nodes"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Support Native Share
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-pen"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Realtime Editing
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
<!--          <div class="column-->
<!--          is-6-mobile-->
<!--          is-4-tablet-->
<!--          is-4-desktop-->
<!--          is-4-widescreen-->
<!--          is-3-fullhd">-->
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
<!--              <article class="media">-->
<!--                <figure class="media-left">-->
<!--                  <span class="icon is-medium is-rounded has-background-danger-light has-text-danger">-->
<!--                    <i class="fa-solid fa-bell"></i>-->
<!--                  </span>-->
<!--                </figure>-->
<!--                <div class="media-content">-->
<!--                  <p class="is-size-7-mobile is-size-6-tablet">-->
<!--                    Notification Ready-->
<!--                    <br>-->
<!--                    Mendapat informasi aktifitas undangan.-->
<!--                  </p>-->
<!--                </div>-->
<!--              </article>-->
<!--            </div>-->
<!--          </div>-->
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-share"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Share Eksklusive
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-images"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Gallery Foto
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-map-location"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Lokasi
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-music"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Music
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-user-group"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Ucapan
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-envelope"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Amplop Digital
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
<!--          <div class="column-->
<!--          is-6-mobile-->
<!--          is-4-tablet-->
<!--          is-4-desktop-->
<!--          is-4-widescreen-->
<!--          is-3-fullhd">-->
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
<!--              <article class="media">-->
<!--                <figure class="media-left">-->
<!--                  <span class="icon is-medium is-roundedr">-->
<!--                    <i class="fa-solid fa-t"></i>-->
<!--                  </span>-->
<!--                </figure>-->
<!--                <div class="media-content">-->
<!--                  <p class="is-size-7-mobile is-size-6-tablet">-->
<!--                    Translate-->
<!--                    <br>-->
<!--                    Dapat mentraslate ke bahasa inggris.-->
<!--                  </p>-->
<!--                </div>-->
<!--              </article>-->
<!--            </div>-->
<!--          </div>-->
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-heart"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Love Stories
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-video"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Live Streaming
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
          <div class="column
          is-6-mobile
          is-4-tablet
          is-4-desktop
          is-4-widescreen
          is-3-fullhd">
<!--            <div class="box p-2" style="width:250px; height: 140px;">-->
              <article class="media">
                <figure class="media-left">
                  <span class="icon is-medium is-rounded">
                    <i class="fa-solid fa-clock"></i>
                  </span>
                </figure>
                <div class="media-content">
                  <p class="is-size-7-mobile is-size-6-tablet">
                    Custome Timezone
                  </p>
                </div>
              </article>
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
</section>