{% extends 'base.html' %}


<!-- Page content -->
{% block isi %}

<div class="container p-4">
    <div class="box">
        <div class="columns is-multiline is-vcentered">
            <div class="column has-text-centered">
                <!--  Header (title)  -->
                <h1 class="title is-size-3-tablet is-size-4-mobile has-text-centered">Portofolio Saya</h1>
                <!--  Table  -->
                <table class="table is-fullwidth is-size-5-desktop is-size-6-tablet is-size-7-mobile">
                    <thead class="has-background-light">
                        <tr>
                            <th class="has-text-centered">Portofolio</th>
                            <th class="has-text-centered">Tanggal Acara</th>
                            <th class="has-text-centered">Konfigurasi</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--   Get data from backend   -->
                        {% for data in portofolios %}
                        <tr>
                            <td class="has-text-centered">{{ data.porto_name }}</td>
                            <td class="has-text-centered">{{ data.tanggal_countdown }}</td>
                            <td class="has-text-centered">
                                {% if data.tanggal_countdown == none %}
                                    <a href="{% url 'portofolio:configurasi' %}" class="button is-small">
                                        <i class="fas fa-user-alt"></i>
                                    </a>
                                {% elif data.tanggal_countdown >= today %}
                                    <a href="{% url 'portofolio:configurasi' %}" class="button is-small">
                                        <i class="fas fa-user-alt"></i>
                                    </a>
                                {% else %}
                                    <i class="fa-solid fa-ban"></i>
                                {% endif %}
                            </td>
                            {% if data.items.fitur != "DIAMOND" %}
                                {% if order.upgrade_status != True %}
                                <td class="has-text-centered">
                                    <a href="{% url 'order:orderitem_update' order.id %}" class="button is-danger is-small">Upgrade
                                    </a>
                                </td>
                                {% endif %}
                            {% endif %}
                            {% empty %}
                            <td class="has-text-danger has-text-centered">No records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
