{% extends "base.html" %}
{% load i18n static %}

{% block content %}

  <form method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="card p-5 m-5 mt-5">
      <!--   INFORMASI UNDANGAN   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI UNDANGAN
      </div>
      <div class="columns is-multiline">
        <div class="column is-6">
          {{ form.porto_name.label_tag }}
          {{ form.porto_name }}

          {% for error in form.porto_name.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <!--   INFORMASI PASANGAN   -->
      <!--   Perempuan   -->
      <div class="notification is-light p-1 has-text-centered">
          INFORMASI PASANGAN
      </div>
      <p class="title is-size-5 mb-1">Perempuan</p>
      <div class="columns is-multiline mt-1">
        <div class="column is-4">
          {{ form.pname.label_tag }}
          {{ form.pname }}

          {% for error in form.pname.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-5">
          {{ form.pinsta_link.label_tag }}
          {{ form.pinsta_link }}

          {% for error in form.pinsta_link.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-3">
          {{ form.panak_ke.label_tag }}
          {{ form.panak_ke }}

          {% for error in form.panak_ke.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.pnama_ayah.label_tag }}
          {{ form.pnama_ayah }}

          {% for error in form.pnama_ayah.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.pnama_ibu.label_tag }}
          {{ form.pnama_ibu }}

          {% for error in form.pnama_ibu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-6">
          {{ form.ppicture.label_tag }}
          {{ form.ppicture }}

          {% for error in form.ppicture.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <hr>

      <!--   Laki-laki   -->
      <p class="title is-size-5 mb-1">Laki-laki</p>
      <div class="columns is-multiline mt-1">
        <div class="column is-4">
          {{ form.lname.label_tag }}
          {{ form.lname }}

          {% for error in form.lname.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-5">
          {{ form.linsta_link.label_tag }}
          {{ form.linsta_link }}

          {% for error in form.linsta_link.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-3">
          {{ form.lanak_ke.label_tag }}
          {{ form.lanak_ke }}

          {% for error in form.lanak_ke.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.lnama_ayah.label_tag }}
          {{ form.lnama_ayah }}

          {% for error in form.lnama_ayah.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-4">
          {{ form.lnama_ibu.label_tag }}
          {{ form.lnama_ibu }}

          {% for error in form.lnama_ibu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="column is-6">
          {{ form.lpicture.label_tag }}
          {{ form.lpicture }}

          {% for error in form.lpicture.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <!--   INFORMASI ACARA   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI ACARA
      </div>
      <!--   AKAD   -->
      <p class="title is-size-5 mb-1">Akad</p>
      <div class="columns is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_akad.label_tag }}
          {{ form.tanggal_akad }}

          {% for error in form.tanggal_akad.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_akad.label_tag }}
            {{ form.waktu_akad }}

            {% for error in form.waktu_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_selesai_akad.label_tag }}
            {{ form.waktu_selesai_akad }}

            {% for error in form.waktu_selesai_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.tempat_akad.label_tag }}
            {{ form.tempat_akad }}

            {% for error in form.tempat_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.link_gmap_akad.label_tag }}
            {{ form.link_gmap_akad }}

            {% for error in form.link_gmap_akad.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <hr>

      <!--   RESEPSI   -->
      <p class="title is-size-5 mb-1">Resepsi</p>
      <div class="columns is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_resepsi.label_tag }}
          {{ form.tanggal_resepsi }}

          {% for error in form.tanggal_resepsi.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_resepsi.label_tag }}
            {{ form.waktu_resepsi }}

            {% for error in form.waktu_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_selesai_resepsi.label_tag }}
            {{ form.waktu_selesai_resepsi }}

            {% for error in form.waktu_selesai_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.tempat_resepsi.label_tag }}
            {{ form.tempat_resepsi }}

            {% for error in form.tempat_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.link_gmap_resepsi.label_tag }}
            {{ form.link_gmap_resepsi }}

            {% for error in form.link_gmap_resepsi.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <hr>

      <!--   UNDUH MANTU   -->
      <p class="title is-size-5 mb-1">Unduh mantu</p>
      <div class="columns is-multiline mt-1">
        <div class="column is-4">
          {{ form.tanggal_unduhmantu.label_tag }}
          {{ form.tanggal_unduhmantu }}

          {% for error in form.tanggal_unduhmantu.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_unduhmantu.label_tag }}
            {{ form.waktu_unduhmantu }}

            {% for error in form.waktu_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-4">
            {{ form.waktu_selesai_unduhmantu.label_tag }}
            {{ form.waktu_selesai_unduhmantu }}

            {% for error in form.waktu_selesai_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.tempat_unduhmantu.label_tag }}
            {{ form.tempat_unduhmantu }}

            {% for error in form.tempat_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.link_gmap_unduhmantu.label_tag }}
            {{ form.link_gmap_unduhmantu }}

            {% for error in form.link_gmap_unduhmantu.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <!--   INFORMASI OUR MOMENT   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI MOMENT
      </div>
      <div class="columns is-multiline mt-1">
        <div class="column is-6">
          {{ form.video.label_tag }}
          {{ form.video }}

          {% for error in form.video.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.livestream.label_tag }}
            {{ form.livestream }}

            {% for error in form.livestream.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form2.image.label_tag }}
            {{ form2.image }}

            {% for error in form2.image.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>

      <!--   INFORMASI SPECIAL INVITATIOM   -->
      <div class="notification is-light p-1 has-text-centered">
        INFORMASI TAMU UNDANGAN KHUSUS
      </div>

      <div class="columns is-multiline">
        {% if formset %}
            {{ formset.management_form }}
            <div class="column is-6">
                <div id="ingredient-form-list">
                    {% for form in formset %}
                    <div class="ingredient-form">
<!--                        {{ form }}-->

                        {% for field in form %}
                            {{ field.label_tag }} {{ field }}
                            {% for error in field.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="empty-form" class="is-hidden">{{ formset.empty_form }}</div>
        {% endif %}
      </div>

      <button id="add-more" type="button" class="button is-small is-outlined pd-1">Tambah</button>

      <!--   INFORMASI CALENDER   -->
      <div class="notification is-light p-1 has-text-centered mt-4">
        INFORMASI CALENDER
      </div>
      <div class="columns is-multiline mt-1">
        <div class="column is-6">
          {{ form.name.label_tag }}
          {{ form.name }}

          {% for error in form.name.errors %}
              <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="column is-6">
            {{ form.location.label_tag }}
            {{ form.location }}

            {% for error in form.location.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.options.label_tag }}
            {{ form.options }}

            {% for error in form.options.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.trigger.label_tag }}
            {{ form.trigger }}

            {% for error in form.trigger.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.iCalFileName.label_tag }}
            {{ form.iCalFileName }}

            {% for error in form.iCalFileName.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.startDate.label_tag }}
            {{ form.startDate }}

            {% for error in form.startDate.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.startTime.label_tag }}
            {{ form.startTime }}

            {% for error in form.startTime.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.endTime.label_tag }}
            {{ form.endTime }}

            {% for error in form.endTime.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.timeZone.label_tag }}
            {{ form.timeZone }}

            {% for error in form.timeZone.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="column is-6">
            {{ form.description.label_tag }}
            {{ form.description }}

            {% for error in form.description.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
      </div>
      <button type="submit" class="button is-info p-2 mt-1">Submit</button>
    </div>
  </form>
{% endblock %}

{% block script %}
<script>

    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')


    addMoreBtn.addEventListener('click', add_new_form)

    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const currentIngredientForms = document.getElementsByClassName('ingredient-form')
        const currentFormCount = currentIngredientForms.length // + 1
        console.log(currentIngredientForms.length)

        const formCopyTarget = document.getElementById('ingredient-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'ingredient-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }
</script>
{% endblock %}