{% extends "base.html" %}
{% load i18n static %}

{% block isi %}
<section class="hero has-background-warning-light is-small">
    <div class="hero-body">
      <div class="container">
        <div class="section py-0">
          <h1 class="subtitle is-size-1-desktop is-size-3-tablet is-size-4-mobile mb-2">
            Berbagai Tema <span class="has-text-danger">Siap Pakai</span>
          </h1>
          <p class="is-size-5-tablet"><strong>{{ themes|length }} Desain tersedia.</strong> Dengan adanya desain kalian bisa pilih tema sesuai keinginanmu.</p>

          <div class="columns is-multiline is-vcentered mt-5">
            {% for theme in themes %}
              <div class="column
              is-12-mobile
              is-6-tablet
              is-4-desktop
              is-3-widescreen
              is-3-fullhd">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      {% if theme.theme_picture %}
                        <img src="{{ theme.theme_picture.url }}" alt="Placeholder image">
                      {% endif %}
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content">
                      <a href="{% url 'portofolio:theme_detail' theme.id %}"><strong>{{ theme.name }} -</strong></a>
                      {% if theme.fitur.name == "SILVER" %}
                          <span class="tag is-medium" style="background-color: #C0C0C0">
                            {{ theme.fitur.name }}
                          </span>
                      {% elif theme.fitur.name == "PLATINUM" %}
                          <span class="tag is-medium" style="background-color: #E5E4E2">
                            {{ theme.fitur.name }}
                          </span>
                      {% else %}
                          <span class="tag is-medium" style="background-color: #FFD700">
                            {{ theme.fitur.name }}
                          </span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}